# Discord
TOKEN=
CLIENT_ID=
CLIENT_SECRET=
ADMIN_ID=

# Dashboard
PORT=4200
WEBSITE=http://localhost:4200
COOKIE_SECRET=

# Lavalink
LAVALINK_HOST=
LAVALINK_PORT=2333
LAVALINK_PASSWORD=
LAVALINK_SECURE=false
